@model List<Sach>
<section style="">
    <div class="container py-5">
        <div class="row justify-content-center">
            
@foreach (var o in Model)
{
                <div class="col-sm-3 col-md-5 col-lg-3 col-xl-3">
                    <div class="card " style="border-radius: 10px; ">
                        <div class="container justify-content-center " data-mdb-ripple-color="light">
                            <img src="@o.Picture" class="mx-5" style="border-top-left-radius: 15px; border-top-right-radius: 15px; width:70%; height:70%" alt="@o.Name" />
                            <a asp-controller="Sac` hes" asp-action="Detail"></a>
                        </div>
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                    <p>@o.Name</p>
                                    <p class="small text-muted">@o.Type</p>
                                    <p>@o.Price</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                <button type="button" class="btn btn-primary">Add to Cart</button>
                                <button type="button" class="btn btn-primary">Buy now</button>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
}
            
        </div>
    </div>
</section> 